.carousel {
  height: auto;
  background-color: #282c34;
  background-image: linear-gradient(to right top,
      #051937,
      #004d7a,
      #008793,
      #8351aa,
      #998ba3);
  background-image: url(../assets/corousel/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 10%;
  padding-bottom: 10%;
}

/* D3D3D3 280137 */

.container-corousel {
  padding: 0px !important;
}

.title {
  /* text-shadow: rgb(247, 247, 247) 0px 3px 8px; */
}

.body {
  /* font-weight: 900; */
  /* text-shadow: rgb(46, 134, 161) 0px 3px 8px; */
}

.text {
  text-align: left;
  color: #ffffff;
  /* text-shadow: rgb(247, 247, 247) 0px 3px 8px; */
}

.carousel-indicators .active {
  background-color: purple !important;
  height: 5px !important;
  width: 5px !important;
  border-radius: 50%;
}

/* .carousel-control-next-icon {
  background-color: purple;
  border-radius: 10%;
} */

@media only screen and (max-width: 600px) {
  .text {
    text-align: center;
    color: #ffffff;
  }
}

.btn-custom {
  background-color: purple;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}