.carousel {
  height: auto;
  background-color: #d3d3d3;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* D3D3D3 280137 */

.container-corousel {
  padding: 0px !important;
}

.text {
  text-align: left;
  color: #280137;
}
